.home {
  height: 100%;
  padding-top: 40vh;
  // material outside of the box will be clipped out with overflow hidden
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-size: cover;
  // create an overlay over the image since reasons, too bright, look cool, etc
  background: linear-gradient(
      45deg,
      rgba($primaryColor, 0.8),
      rgba($secondaryColor, 0.3)
    ),
    no-repeat, url("./images/oscarPro.jpg") center/cover fixed no-repeat;
  &Name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 2px solid setTextColor($primaryColor);
    &Last {
      color: $secondaryColor;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 350px) {
  .home {
    padding-top: 10vh;

    &Name {
      font-size: 4rem;
      padding-bottom: 0.2rem;
      margin-top: 1rem;
      border-bottom: 2px solid setTextColor($primaryColor);
      &Last {
        color: $secondaryColor;
        font-weight: 400;
      }
    }
  }
}
@media screen and (min-width: 650px) {
  .home {
    padding-top: 30vh;

    &Name {
      font-size: 5rem;
      padding-bottom: 0.2rem;
      margin-top: 1rem;
      border-bottom: 2px solid setTextColor($primaryColor);
      &Last {
        color: $secondaryColor;
        font-weight: 700;
      }
    }
  }
}
