.menuButton {
  position: absolute;
  list-style: none;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;
  &Burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: setTextColor($primaryColor);
    @include transition-ease;
    // the before and after create the other two bars, this is top bar
    &::before {
      content: " ";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background-color: setTextColor($primaryColor);
      @include transition-ease;
    }
    &::after {
      content: " ";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: setTextColor($primaryColor);
      @include transition-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;
      // this tarets top bar
      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
// NAV FINE
// Someinthing in menu nav
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;

  &.open {
    visibility: visible;
  }
  .menuNav {
    display: flex;
    // set to column, but a weird phone height will be fixed with wrap
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    // something about the height is not letting the social icons work when hover over
    height: 100vh;
    // no scroll bars
    overflow: hidden;
    background: $primaryColor;
    list-style-type: none;
    padding-right: 1rem;
    // seen off page
    transform: translateY(-100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }
    &Item {
      // menu comes down, but the items are coming right
      transform: translateX(100vw);
      @include transition-ease;
      &.open {
        transform: translateX(0vh);
        &.active > a {
          color: $secondaryColor;
        }
      }
      &Link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem;
        font-weight: 300;
        @include transition-ease;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}
// slide in links after clicking the hamburger
@for $i from 1 through 4 {
  .menuNavItem:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
