.contact {
  height: 100%;
  padding-top: 40vh;
  // material outside of the box will be clipped out with overflow hidden
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  // create an overlay over the image since reasons, too bright, look cool, etc
  background: linear-gradient(
      45deg,
      rgba($primaryColor, 0.8),
      rgba($secondaryColor, 0.3)
    ),
    no-repeat, url("./images/starNight.jpg") center/cover fixed no-repeat;
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .socialIcons {
    position: initial;
    margin-top: 2rem;
  }
}
